.desktop-1
{
position:absolute;
background-color:#132728;
height:1024px;
width:1440px;
padding:0px;
}
.frame1
{
background-color:#ffffff;
height:1024px;
width:960px;
border-radius:40px 0px 0px 40px;
padding:0px;
left:480px;
position:relative;
}
.loginaccount
{
color:#132728;
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:REM;
line-height:60px;
border-style:hidden;
outline:none;
top:156px;
left:182px;
position:absolute;
width:552px;
}
.username
{
width:596px;
height:77px;
top:316px;
left:182px;
position:absolute;
}
.rectangle
{
height:77px;
width:596px;
border-radius:30px;
border:2px solid #132728;
top:316px;
left:182px;
position:absolute;
}
.password
{
width:596px;
height:77px;
top:473px;
left:182px;
position:absolute;
}
.rectangle2
{
height:77px;
width:596px;
border-radius:30px;
border:2px solid #132728;
top:473px;
left:182px;
position:absolute;
}
.user2
{
height:40px;
width:40px;
padding:0px;
top:335px;
left:212px;
position:absolute;
}
.lock
{
background-color:#ffffff;
height:40px;
width:40px;
padding:0px;
border-style:hidden;
outline:none;
left:0px;
top:491px;
position:absolute;
}
.icon
{
height:33.333335876464844px;
width:30px;
width:30px;
height:33.333335876464844px;
left:5px;
top:3.33px;
width:30px;
height:33.333335876464844px;
position:absolute;
}
.user3
{
background-color:#ffffff;
height:48px;
width:48px;
padding:0px;
border-style:hidden;
outline:none;
left:0px;
top:331px;
position:absolute;
}
.icon2
{
height:36px;
width:32px;
width:32px;
height:36px;
left:8px;
top:6px;
width:32px;
height:36px;
position:absolute;
}
.forgetpassword?
{
color:#bfbfbf;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:REM;
line-height:20px;
border-style:hidden;
outline:none;
top:593px;
left:208px;
position:absolute;
width:302px;
}
.grouplogin
{
width:453px;
height:82px;
top:716px;
left:261px;
position:absolute;
}
.rectangle3
{
background-color:#132728;
height:82px;
width:453px;
border-radius:30px;
border:2px solid #132728;
top:716px;
left:261px;
position:absolute;
}
.login3
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:REM;
left:317px;
top:726px;
width:326px;
height:42px;
position:absolute;
line-height:60px;
border-style:hidden;
outline:none;
}
.username2
{
background-color:#ffffff;
height:27px;
width:430px;
padding:0px;
border-style:hidden;
outline:none;
top:346px;
left:295px;
position:absolute;
}
.username3
{
color:#bfbfbf;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:REM;
line-height:20px;
border-style:hidden;
outline:none;
width:430px;
}
.password3
{
background-color:#ffffff;
height:29px;
width:316px;
padding:0px;
border-style:hidden;
outline:none;
top:502px;
left:295px;
position:absolute;
}
.password4
{
color:#bfbfbf;
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:REM;
line-height:20px;
border-style:hidden;
outline:none;
width:316px;
}
.groupcreate
{
width:390px;
height:72px;
left:56px;
top:876px;
position:absolute;
}
.rectangle4
{
background-color:#ffffff;
height:72px;
width:390px;
border-radius:30px;
border:2px solid #132728;
top:876px;
left:56px;
position:absolute;
}
.createaccount
{
color:#132728;
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:REM;
left:72px;
top:884px;
width:358px;
height:55px;
position:absolute;
line-height:60px;
border-style:hidden;
outline:none;
}
.createaccount?
{
color:#ffffff;
text-align:center;
vertical-align:text-top;
font-size:36px;
font-family:REM;
left:72px;
top:798px;
width:358px;
height:55px;
position:absolute;
line-height:60px;
border-style:hidden;
outline:none;
}
.group3
{
width:596px;
height:686px;
top:159px;
left:-40px;
position:absolute;
}
.createanaccount
{
color:rgba(19, 39, 40, 0);
text-align:left;
vertical-align:text-top;
font-size:64px;
font-family:REM;
top:159px;
width:596px;
height:98px;
position:absolute;
line-height:60px;
border-style:hidden;
outline:none;
}
.email
{
width:596px;
height:77px;
top:459px;
left:-40px;
position:absolute;
}
.password5
{
background-color:#ffffff;
height:29px;
width:316px;
padding:0px;
border-style:hidden;
outline:none;
top:488px;
left:73px;
position:absolute;
}
.password6
{
color:rgba(191, 191, 191, 0);
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:REM;
line-height:20px;
border-style:hidden;
outline:none;
width:316px;
}
.rectangle5
{
height:77px;
width:596px;
border-radius:30px;
border:2px solid rgba(19, 39, 40, 0);
top:459px;
left:-40px;
position:absolute;
}
.🦆icon"email"
{
width:48.759033203125px;
height:48.759033203125px;
top:474px;
position:absolute;
}
.vector
{
height:48.759033203125px;
width:48.759033203125px;
width:48.759033203125px;
height:48.759033203125px;
top:474px;
width:48.759033203125px;
height:48.759033203125px;
position:absolute;
}
.vector2
{
background-color:rgba(0, 0, 0, 0);
height:32.50602340698242px;
width:40.63252639770508px;
width:40.63252639770508px;
height:32.50602340698242px;
top:482.12px;
width:40.63252639770508px;
height:32.50602340698242px;
position:absolute;
}
.password7
{
width:596px;
height:77px;
top:599px;
left:-40px;
position:absolute;
}
.password8
{
background-color:#ffffff;
height:29px;
width:316px;
padding:0px;
border-style:hidden;
outline:none;
top:628px;
left:73px;
position:absolute;
}
.password9
{
color:rgba(191, 191, 191, 0);
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:REM;
line-height:20px;
border-style:hidden;
outline:none;
width:316px;
}
.rectangle6
{
height:77px;
width:596px;
border-radius:30px;
border:2px solid rgba(19, 39, 40, 0);
top:599px;
left:-40px;
position:absolute;
}
.lock2
{
background-color:#ffffff;
height:40px;
width:40px;
padding:0px;
border-style:hidden;
outline:none;
top:617px;
position:absolute;
}
.icon4
{
height:33.333335876464844px;
width:30px;
width:30px;
height:33.333335876464844px;
left:5px;
top:3.33px;
width:30px;
height:33.333335876464844px;
position:absolute;
}
.username4
{
width:596px;
height:77px;
top:319px;
left:-40px;
position:absolute;
}
.rectangle7
{
height:77px;
width:596px;
border-radius:30px;
border:2px solid rgba(19, 39, 40, 0);
top:319px;
left:-40px;
position:absolute;
}
.group1
{
width:48px;
height:48px;
top:334px;
left:-14px;
position:absolute;
}
.user7
{
background-color:#ffffff;
height:48px;
width:48px;
padding:0px;
border-style:hidden;
outline:none;
top:334px;
position:absolute;
}
.icon5
{
height:36px;
width:32px;
width:32px;
height:36px;
left:8px;
top:6px;
width:32px;
height:36px;
position:absolute;
}
.username5
{
background-color:#ffffff;
height:27px;
width:430px;
padding:0px;
border-style:hidden;
outline:none;
top:349px;
left:73px;
position:absolute;
}
.username6
{
color:rgba(191, 191, 191, 0);
text-align:left;
vertical-align:text-top;
font-size:24px;
font-family:REM;
line-height:20px;
border-style:hidden;
outline:none;
width:430px;
}
.group2
{
width:453px;
height:82px;
top:763px;
left:61px;
position:absolute;
}
.rectangle8
{
background-color:rgba(19, 39, 40, 0);
height:82px;
width:453px;
border-radius:30px;
border:2px solid rgba(19, 39, 40, 0);
top:763px;
left:61px;
position:absolute;
}
.createanaccount2
{
color:rgba(255, 255, 255, 0);
text-align:center;
vertical-align:text-top;
font-size:24px;
font-family:REM;
left:117px;
top:773px;
width:326px;
height:42px;
position:absolute;
line-height:60px;
border-style:hidden;
outline:none;
}
.b5d3ce-d7a9-4b33-9bbb-6175a5563ef91
{
height:416px;
width:416px;
left:34px;
top:46px;
position:absolute;
}
